.box1 {
    display: none;
}

.box2 {
    width: 100px; 
    height: 100px; 
    background-color: red;
}

.changed-box {
    width: 300px; 
    height: 300px; 
    background-color: green;
}

.imgBox {
    width: 300px; 
    height: 200px;
}