header {height: 100px;}
.icon .icon-box {font-size: 40px;}
.icon .icon-box:hover {text-decoration: none;}
.login .login-font {color: black;}
.login .login-font:hover {color: red;}

section {height: 800px;}
.menu-box ul{list-style-type: none; margin: 0; padding: 0;}
.menu-box ul li{position: relative;}
.menu-font {color: black; font-weight: bold;}
.menu-font:hover {background-color: gray;}
.content .content-font1 {font-weight: bold;}
.content .content-font2 {font-size: 15px; color: rgb(93, 91, 91);}

footer {height: 50px;}
.copyright {color: gray; font-size: small;}